@import url("font-face.css");

:root {
    --content-color: #ffffff;
    --background-color: #343434;
    --selection-color: #212225;
    --extra-color: #484848;
    --menu-main-color: #B0B0B0;
    --menu-alt-color: #8F8F8F;

    --title-font: 'Planc', sans-serif;
    --body-font: 'Planc', sans-serif;
}

html {
    font-family: var(--body-font);
    font-size: 17px;
}

a,
a:hover,
a:active {
    font-family: var(--body-font);
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3, h4, h5 {
    font-family: var(--title-font);
}

p, li, dt, dd {
    font-family: var(--body-font);
}

header {
    background-color: white;
    border-bottom: 1px solid black;
    white-space: nowrap;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

header h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 35px;
    display: inline-block;
    margin: 10px 8px -5px;
}

aside {
    background-color: white;
    border-top: 1px solid black;
    white-space: nowrap;
    position: fixed;
    width: calc(100vh - 60px);
    height: 30px;
    top: 0px;
    right: 0;
    z-index: 998;
    transform-origin: bottom right;
    transform: translateY(-100%) rotate(-90deg);
}

aside h2 {
    text-transform: lowercase;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 5px;
}

main {
    margin-left: 15px;
    margin-right: 29px;
    margin-top: 48px;
    padding-top: 40px;
}

section {
    padding-bottom: 20px;
}

section h1 {
    font-size: 20px;
    font-weight: 700;
    text-transform: lowercase;
    margin: 0;
}

section ol {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
}

section ul {
    padding: 0;
    margin: 0;
}

section ul li {
    list-style: none;
    padding-right: 20px;
}

figure {
    width: 100%;
    padding-top: 70%;
    margin: 0;
    background-color: lightgray;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

figure img {
    transition: all .3s;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

figure:hover img,
figure:focus img {
    transform: scale(1.03);
    /*    mix-blend-mode: exclusion;*/
}

figcaption {
    font-family: var(--body-font);
    font-size: 16px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

figcaption span {
    font-weight: 800;
    padding-right: 16px;
}

.btn-close {
    z-index: 9999;
}

.btn-close:focus {
    box-shadow: unset;
}

.modal-dialog {
    margin: 0;
    max-width: none;
    max-height: none;
    width: 100%;
    height: 100%;
}

.modal-content {
    border-radius: 0;
    border: none;
    height: 100%;
    background-color: white;
}

.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-body {
    position: absolute;
    top: 0;
    width: 100%;
}

.offcanvas {
    background-color: var(--menu-main-color);
    border: none;
}

.offcanvas.offcanvas-end {
    border: none;
}

.offcanvas h3,
.offcanvas li,
.offcanvas dt,
.offcanvas dd {
    display: block;
    white-space: nowrap;
}

.offcanvas h3 {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.offcanvas dt {
    font-weight: normal;
    margin: 0;
    margin-top: 15px;
}

.offcanvas dd {
    font-weight: bold;
    margin: 0;
}

.offcanvas ul {
    padding: 0;
    margin-top: 5px;
}

.offcanvas-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.offcanvas-body {
    padding: 0;
}

.offcanvas-container {
    padding: 25px 20px;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 0.2s;
}

.carousel-item {
    height: calc(100vh - 34px);
    text-align: center;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
    width: 1%;
    font-size: 1.2rem;
    opacity: 1;
}

.carousel-control-prev:focus,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: black;
}

.bio {
    position: relative;
    max-width: 450px;
    float:left;
    overflow: auto;
    height: 100%;
}

.bio strong {
    font-weight: bold;
    text-transform: uppercase;
}

.menu-selector {
    position: relative;
    background-color: var(--menu-alt-color);
    padding-top: 140px;
    min-width: 300px;
    float:left;
    overflow: auto;
    height: 100%;
}

.menu-selector ul {
    text-transform: lowercase;
}

.thumbnail {
    height: 100px;
    width: 150px;
    border: 1px solid black;
    margin: 20px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    
}

.hidden {
    display: none;
}

li:hover .hidden {
    display: block;
}

.btn-close {
    opacity: 1;
}

#btn-back-to-top {
    font-family: monospace;
    background-color: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 0 15px;
    margin: 0;
    display: inline-block;
    font-size: 17px;
    position: fixed;
    bottom: 0;
    right: 0;
    transform-origin: top right;
    transform: translateY(100%) rotate(90deg);
    width: 60px;
    height: 30px;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 45px;
        margin: 15px 10px -5px;
    }

    aside {
        height: 40px;
    }

    aside h2 {
        font-size: 22px;
    }

    main {
        margin-left: 20px;
        margin-right: 39px;
        margin-top: 65px;
    }

    section ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .offcanvas, .offcanvas.offcanvas-end {
        width: auto;
        min-width: 500px;
    }
    
    .offcanvas .dynamic-column {
        float: left;
        display: inline-block;
        padding-right: 40px;
    }

    .carousel-item img {
        height: 100%;
        width: auto;
    }

    #btn-back-to-top {
        font-size: 22px;
        height: 40px;
    }
}

@media (max-width: 767px) {

    figcaption span {
        display: block;
        margin-bottom: -5px;
    }

    .modal-body {
        padding: 0;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        position: absolute;
        margin: 0;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: unset;
        width: 15%;
    }
    
    .offcanvas h3 {
        padding-top: 17px;
    }
    
    .offcanvas .dynamic-column:first-child h3 {
        padding-top: 0;
    }
    
    .menu-selector {
        display: none;
    }
}
